*{
	margin:0px;
	padding:0px;
}
body{
	font-family:sans-serif;
	text-align:center;	 
}
#center_maker{
	width:960px;
	margin:0px auto;
	//border:2px solid blue;
	text-align:left;	
}
#header{     /*header starts from here*/
	border:1px solid blue;
	padding:20px;
	margin:5px 0px;
}
.logo{
	display:inline;
	vertical-align:middle;
}
#header h1{
	display:inline;
}/*header ends here*/
#nav{	/*navigation starts from here*/
	border:1px solid blue;
	padding:10px;
	margin:5px opx;	
}
#nav ul li{
	list-style-type:none;
	display:inline;
}
#nav ul li a{
	margin:5px;
}
#nav ul li a:hover{
	background-color:blue;
	color:#fff;
}/*navigation ends here*/
#aside{	/*aside starts from here*/
	width:320px;
	border:2px solid blue;
	padding:10px;
}/*aside ends here*/
#section{	/*section starts from here*/
	width:640px;
	padding:10px;
	margin:0px 10px 10px 0px;	
}/*section ends here*/